body {
    display: flex;
    justify-content: center;
    background-color:var(--tg-theme-bg-color);
    color:var(--tg-theme-text-color) ;
}

.content {
    width: 240px;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 20px;
    text-align: center; /* Добавлено */
    
}


.input{
    display: flex;
    flex-direction: column;
    width: 100%; /* Добавлено */
}

input {
    outline: none;
    padding: 14px 10px;
    font-size: 17px;
    font-weight: 450;
    line-height: 15px;

    width: calc(100% - 20px); /* Изменено */
    border-radius: 15px;
    border: 1px solid #b9bfc7;
    color: #212121;
    font-family: Helvetica, sans-serif;
    margin: auto;
}

input::placeholder{
    color: #a6acb7;
    padding: 1px;
}

.label {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    color: #707781;
}

.actions {
    display: flex;
    gap: 12px;
    padding-top: 22px;
}

.button {
    flex: 1;
}

.canсel{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    border: none;
    user-select: none;
    border-radius: 100px;
    color: #707781;
    font-size: 19px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
    background-color: #edf1f5;
}

.accept{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    border: none;
    user-select: none;
    border-radius: 100px;
    font-size: 19px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
    background: #0096fa;
    color: #fff;
}
